body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    width: 130%;
    gap: 10px;
}

.left {
    background-image: url("/images/background\ .avif");
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
