body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    width: 100%;
    gap: 1px;
}

.left {
    background-image: url("./images/unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.split.right {
    display: grid;
    grid-template-row: 1fr 1fr 1fr;
}

h1 {
    color: white;
    font: 700;
    font-size: 80px;
    font-family: Norse, sans-serif;
}

#banner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 120px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 0;
    height: 100px;
}

#banner > img {
    height: auto;
    max-width: 15%;
    min-width: 80px;
}

.credits {
    color: white;
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.split.left {
    display: flex;
    flex-direction: column-reverse;
}

span {
    font-style: italic;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    font-weight: 700;
    padding: 20px 50px;
}
.header > p {
    max-width: 80%;
}

button {
    background-color: #596d48;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    border: none;
}

.footer {
    background-color: whitesmoke;
    padding: 20px 50px;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.main-form {
    border: none;
    display: flex;
    gap: 100px;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    color: rgba(0, 0, 0, 0.7);
}

input {
    border-color: #e5e7eb;
    border-style: solid;
    opacity: 0.4;
    width: 120%;
    border-radius: 5px;
}

input:invalid {
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

input:focus {
    box-shadow: 10px;
    outline: 2px solid blue;
}
